@{
    ViewData["Title"] = "Home Page";
}

<h2>Испытательное задание DynamicSun</h2>
<p>Вы можете загрузить измерения погоды @Html.ActionLink("здесь", "Upload"), или посмотреть уже @Html.ActionLink("загруженные", "Measures")</p>
